<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <param name="/free_gait/adapter_plugin/preview" value="free_gait::AdapterDummy" />
  <param name="/free_gait/adapter_ros_interface_plugin" value="free_gait::AdapterRosInterfaceDummy" />
  <node pkg="free_gait_ros" type="steps_test" name="steps_test_node"
        output="screen">
  </node>
</launch>
